@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import "./variables.scss";
* {
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 16px;

  @media screen and (max-width: $tablet) {
    font-size: 14px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 12px;
  }
  @media screen and (max-width: $smallScreen) {
    font-size: 10px;
  }
}
body {
  background-color: $background;
}
.app {
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
